header {
    background-size: cover;
    background-image: url('https://images.pexels.com/photos/194094/pexels-photo-194094.jpeg');
    background-position: center;
    min-height: 300px;
}
nav {
    background-color:rgb(126, 80, 13);
    min-height: 70px;
}

.toy{
    min-height: 430px;
}
.add-btn{
    opacity: 0.2;
}
.add-Form{

    position: absolute;
}